# ignore input files
input_data_files/Analog__*
input_data_files/Digital-Others__*
input_data_files/Digital-Repeaters__*
input_data_files/Talkgroups__*
input_data_files/Zone_Order.csv

# ignore output files
output_files/channels_*.csv
output_files/channels_*.xlsx
output_files/file_list_*.LST
output_files/receive_groups_*.csv
output_files/scan_lists_*.csv
output_files/talk_groups_*.xlsx
output_files/zones_*.csv

