# ignore input files
input_data_files/Analog__*
input_data_files/Digital-Others__*
input_data_files/Digital-Repeaters__*
input_data_files/Talkgroups__*
input_data_files/MyZoneOrder.csv
input_data_files/MyExcludedRepeaters.csv
input_data_files/MyExcludedTalkgroups.csv

# ignore output files
output_files/d868uv_channels_*.csv
output_files/d878uv_channels_*.csv
output_files/cs800d_channels_*.xlsx
output_files/d868uv_talk_groups_*.csv
output_files/d878uv_talk_groups_*.csv
output_files/cs800d_talk_groups_*.xlsx
output_files/d868uv_zones_*.csv
output_files/d878uv_zones_*.csv

